<!DOCTYPE html>
<html lang="zh-TW" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <link rel="stylesheet" href="../../assets/css/app.css">
    <script src="../../assets/plugins/angular/angular.js"></script>
    <style type="text/css">
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body ng-controller="MainCtrl as vm">
<div id="page-wrapper" class="container">
    <div class="page-header">
        <label class="h4">Angular03-controller</label>
    </div>
    <div id="page-content">
        <form name="vm.form" class="form-horizontal form-group-sm">
            <div class="form-group">
                <label class="control-label col-sm-2">Name</label>

                <div class="col-sm-4">
                    <ul>
                        <li ng-repeat="user in vm.users">
                            <div class="input-group">
                                <input name="username" class="form-control" placeholder="Enter a name here"
                                       ng-readonly="!vm.users[$index].editable"
                                       ng-model="vm.users[$index].name"
                                       ng-blur="vm.save(vm.users[$index])">
                                <span class="input-group-addon">
                                    <a href="#" ng-click="vm.edit(vm.users[$index])"
                                       ng-if="!vm.users[$index].editable">编辑</a>
                                    <a href="#" ng-click="vm.save(vm.users[$index])"
                                       ng-if="vm.users[$index].editable">保存</a>
                                    <a href="#" ng-click="vm.remove($index, vm.users[$index])">删除</a>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <a href="#" ng-click="vm.add($event)">新增</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="vm.sure()">
                        <i class="glyphicon glyphicon-save"></i> 确定
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="vm.close()">
                        <i class="glyphicon glyphicon-refresh"></i> 取消
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    (function () {

        angular.module('app', []);

        angular.module('app').controller('MainCtrl', MainCtrl);

        function MainCtrl() {

            var vm = this;

            vm.user = {};

            vm.users = [
                {id: 1001, name: 'Alan', code: '阿兰', editable: false},
                {id: 1002, name: 'Ann', code: '轩', editable: false},
                {id: 1003, name: 'Gavin', code: '鹰', editable: false}
            ];

            vm.add = add;
            vm.edit = edit;
            vm.save = save;
            vm.remove = remove;

            vm.sure = sure;
            vm.close = close;

            function add($event) {
                vm.user = {id: null, name: null, code: null, editable: true};
                vm.users.push(vm.user);
            }

            function edit(item) {
                vm.user = item;
                item.editable = true;
            }

            function save(item) {
                // if (!item.name) {
                //     return alert('Enter a name here');
                // }
                if (item.editable) {
                    item.editable = false;
                    console.info('Save user => ' + JSON.stringify(item));
                }
            }

            function remove(index, item) {
                vm.users.splice(index, 1);
            }

            function sure() {
                console.info('The selected item is => ' + JSON.stringify(vm.user));
                console.info(vm.users);
            }

            function close() {
            }

        }

    })();
</script>
</body>
</html>