<div id="carousel-figure" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-figure" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-figure" data-slide-to="1"></li>
    <li data-target="#carousel-figure" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- <img src="http://placehold.it/800x300" width="100%" alt="bg1.jpg"> -->
      <img src="/assets/img/bg1.jpg" width="100%" alt="bg1.jpg">
      <div class="carousel-caption">bg1.jpg</div>
    </div>
    <div class="item">
        <img src="/assets/img/bg2.jpg" width="100%" alt="bg1.jpg">
      <div class="carousel-caption">bg2.jpg</div>
    </div>
    <div class="item">
      <img src="/assets/img/bg3.jpg" width="100%" alt="bg1.jpg">
      <div class="carousel-caption">bg3.jpg</div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-figure" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-figure" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>