<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="modal-title">{{title}}</label>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="form_{{index}}" class="form-horizontal form-group-sm" role="form">
                        <div class="form-group">
                            <label class="control-label" for="code_{{index}}">用户帐号</label>
                            <input id="code_{{index}}" name="code" value="{{code}}" type="text" class="form-control"
                                   placeholder="用户帐号">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name_{{index}}">用户名</label>
                            <input id="name_{{index}}" name="name" value="{{name}}" type="text" class="form-control"
                                   placeholder="用户名"
                                   data-bv-notempty="true">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="status_{{index}}">状态</label>
                            <select id="status_{{index}}" name="status" class="form-control">
                                <option value="1">未锁定</option>
                                <option value="0">锁定</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSave_{{index}}" type="button" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-saved"></i> 保存
                </button>
            </div>
        </div>
    </div>
</div>