<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular DateMultiPicker</title>
    <link rel="stylesheet" href="../../assets/css/lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="angular-datepicker.css">
</head>
<body ng-controller="MainCtrl as vm">
<div class="container">
    <header><h3>Angular DateMultiPicker</h3></header>
    <section>
        <form id="form" class="form-horizontal form-group-sm" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="startDate">推广日期</label>
                <div class="col-sm-4">
                    <div class="date-wrap" uib-dropdown auto-close="disabled" is-open="vm.startDateOpen">
                        <input id="startDate" name="startDate" type="text" class="form-control" readonly placeholder="点击选择开始日期"
                               uib-dropdown-toggle ng-value="vm.startDate|dateFormatter:this">
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li role="menuitem">
                                <div multi-date-picker
                                     options="vm.startDateOptions"
                                     after="vm.minDate"
                                     markers="vm.markers"
                                     ng-model="vm.order.startDate"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="date-wrap" uib-dropdown auto-close="disabled" is-open="vm.endDateOpen">
                        <input id="endDate" name="endDate" type="text" class="form-control" readonly placeholder="点击选择结束日期"
                               uib-dropdown-toggle ng-value="vm.endDate|dateFormatter:this">
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li role="menuitem">
                                <div multi-date-picker
                                     options="vm.endDateOptions"
                                     after="vm.minDate"
                                     markers="vm.markers"
                                     ng-model="vm.order.endDate"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="vm.startDate && vm.endDate">
                <div class="col-sm-8 col-sm-offset-2">
                    <div multi-date-picker
                         options="vm.periodOptions"
                         after="vm.minDate"
                         markers="vm.markers"
                         ng-model="vm.multi"></div>
                    <strong class="help-block">
                        <span class="text-danger" ng-bind="'单价：'+(vm.order.price|currency:'￥')+' | '"></span>
                        <span class="text-success" ng-bind="'预定天数：'+vm.multi.length+' | '"></span>
                        <span class="text-danger" ng-bind="'总价：'+(vm.order.price*vm.multi.length|currency:'￥')"></span>
                    </strong>
                </div>
            </div>
        </form>
    </section>
</div>
<script src="../../assets/js/lib/angular/angular.js"></script>
<script src="../../assets/js/lib/angular/i18n/angular-locale_zh.js"></script>
<script src="../../assets/js/lib/angular-ui/ui-bootstrap-tpls.js"></script>
<script src="moment-with-locales.js"></script>
<script src="bindonce.js"></script>
<script src="angular-datepicker.js"></script>
<script>

    moment.locale('zh_cn');

    angular.module('app', ['ui.bootstrap', 'multiDatePicker']);

    angular.module('app')
            .controller('MainCtrl', MainCtrl)
            .filter('dateFormatter', dateFormatter);

    /**
     * @see https://monterail.github.io/angular-mighty-datepicker/
     */
    function MainCtrl() {

        var vm = this;

        var invalidDates = [
            {startDate: '2017-09-15', endDate: '2017-09-16'},
            {startDate: '2017-09-19', endDate: '2017-09-19'}
        ];

        var periodDefault = {
            months: 1,
            mode: 'simple',
            start: moment().add(0, 'month'),
            filter: function (m) {
                return !isContains(m);
            }
        };

        vm.minDate = moment().add(0, 'day');

        vm.order = {price: 300};

        vm.multi = [];
        vm.markers = getMarkers();

        vm.startDateOptions = angular.extend({}, periodDefault, {
            callback: function (day) {
                vm.startDate = day;
                vm.startDateOpen = false;
                changeDate();
            }
        });

        vm.endDateOptions = angular.extend({}, periodDefault, {
            callback: function (day) {
                vm.endDate = day;
                vm.endDateOpen = false;
                changeDate();
            }
        });

        vm.periodOptions = angular.extend({}, periodDefault, {
            mode: 'multiple'
        });

        function changeDate() {
            if (vm.startDate && vm.endDate) {
                vm.multi = [];
                var dates = getDates(vm.startDate, converter(vm.endDate));
                dates.forEach(function (m) {
                    !isContains(m) && vm.multi.push(m);
                });
            }
        }

        function getMarkers() {
            var markers = [];
            invalidDates.forEach(function (item) {
                var dates = getDates(converter(item.startDate), converter(item.endDate));
                dates.forEach(function (m) {
                    markers.push({day: m, marker: m.toDate().getDate() + '号已被预订'});
                });
            });
            return markers;
        }

        function isContains(date) {
            for (var i = 0; i < invalidDates.length; i++) {
                var startDate = invalidDates[i].startDate;
                var endDate = invalidDates[i].endDate;
                if (moment(date).isBetween(startDate, endDate)
                        || moment(startDate).isSame(date)
                        || moment(endDate).isSame(date)) {
                    return true;
                }
            }
            return false;
        }

        function getDates(startDate, endDate) {
            var dates = [];
            var i = 0;
            var days = moment.duration(endDate.diff(startDate)).asDays();
            while (i <= days) {
                dates.push(moment(startDate).add(i, 'days'));
                i++;
            }
            return dates;
        }

        function converter(date) {
            return moment(date).set({hour: 0, minute: 0, second: 0, millisecond: 0});
        }

    }

    function dateFormatter() {
        return function (input) {
            return moment.isMoment(input) ? input.format('YYYY-MM-DD') : '';
        }
    }
</script>
</body>
</html>
