<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular DateMultiPicker</title>
    <link rel="stylesheet" href="../../assets/css/lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="angular-datepicker.css">
</head>
<body ng-controller="MainCtrl as vm">
<div class="container">
    <header><h3>Angular DateMultiPicker</h3></header>
    <section>
        <form id="form" class="form-horizontal form-group-sm" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="startDate">推广日期</label>

                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="startDate" name="order.startDate" type="date" class="form-control"
                               ng-model="vm.order.startDate"
                               ng-change="vm.changeDate()"
                               placeholder="开始日期">
                        <span class="input-group-addon input-group-sm">至</span>
                        <input name="order.endDate" type="date" class="form-control"
                               ng-model="vm.order.endDate"
                               ng-change="vm.changeDate()"
                               placeholder="结束日期">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="vm.order.startDate && vm.order.endDate">
                <div class="col-sm-8 col-sm-offset-2">
                    <div multi-date-picker
                         options="vm.options"
                         after="vm.startDate"
                         markers="vm.markers"
                         ng-model="vm.multi"></div>
                </div>
            </div>
            <div class="row" ng-if="vm.order.startDate && vm.order.endDate">
                <div class="col-sm-8 text-right">
                    <strong class="text-danger" ng-bind="'单价：'+(vm.order.price|currency:'￥')"></strong>
                    <span ng-bind=" '|' "></span>
                    <strong class="text-success" ng-bind="'预定天数：'+vm.multi.length"></strong>
                    <span ng-bind=" '|' "></span>
                    <strong class="text-danger" ng-bind="'总价：'+(vm.order.price*vm.multi.length|currency:'￥')"></strong>
                </div>
            </div>
        </form>
    </section>
</div>
<script src="../../assets/js/lib/angular/angular.js"></script>
<script src="../../assets/js/lib/angular/i18n/angular-locale_zh.js"></script>
<script src="../../assets/js/lib/angular-ui/ui-bootstrap-tpls.js"></script>
<script src="moment-with-locales.js"></script>
<script src="bindonce.js"></script>
<!--
https://monterail.github.io/angular-mighty-datepicker/
https://arca-computing.github.io/MultipleDatePicker/
-->
<script src="angular-datepicker.js"></script>
<script>

    moment.locale('zh_cn');

    // 声明模块
    angular.module('app', ['multiDatePicker']);

    // 使用模块
    angular.module('app').controller('MainCtrl', MainCtrl);

    function MainCtrl() {

        var vm = this;

        var invalidDates = [
            {startDate: '2017-09-11', endDate: '2017-09-11'},
            {startDate: '2017-09-13', endDate: '2017-09-14'},
            {startDate: '2017-09-16', endDate: '2017-09-17'}
        ];

        vm.order = {price: 300};

        vm.multi = [];
        vm.markers = getMarkers();

        vm.changeDate = changeDate;

        vm.startDate = moment().add(0, 'day');

        vm.options = {
            months: 2,
            mode: 'multiple',
            start: moment().add(0, 'month'),
            filter: function (m) {
                return !isContains(m);
            },
            callback: function (day) {
                // console.log('call this: ', day);
            }
        };

        function changeDate() {
            if (vm.order.startDate && vm.order.endDate) {
                vm.multi = [];
                var dates = getDates(converter(vm.order.startDate), converter(vm.order.endDate));
                dates.forEach(function (m) {
                    !isContains(m) && vm.multi.push(m);
                });
            }
        }

        function getMarkers() {
            var markers = [];
            invalidDates.forEach(function (item) {
                var dates = getDates(converter(item.startDate), converter(item.endDate));
                dates.forEach(function (m) {
                    markers.push({day: m, marker: m.toDate().getDate() + '号已被预订'});
                });
            });
            return markers;
        }

        function isContains(date) {
            for (var i = 0; i < invalidDates.length; i++) {
                var startDate = invalidDates[i].startDate;
                var endDate = invalidDates[i].endDate;
                if (moment(date).isBetween(startDate, endDate)
                        || moment(startDate).isSame(date)
                        || moment(endDate).isSame(date)) {
                    return true;
                }
            }
            return false;
        }

        function getDates(startDate, endDate) {
            var dates = [];
            var i = 0;
            var days = moment.duration(endDate.diff(startDate)).asDays();
            while (i <= days) {
                dates.push(moment(startDate).add(i, 'days'));
                i++;
            }
            return dates;
        }

        function converter(date) {
            return moment(date).set({hour: 0, minute: 0, second: 0, millisecond: 0});
        }

    }
</script>
</body>
</html>
