<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <script src="../lib/angular/angular.js"></script>
</head>
<body ng-app="myApp">
<div id="page-wrapper" class="container" ng-controller="myController">
    <div class="page-header">
        <label class="h4">Angular13-directive</label>
    </div>
    <div id="page-content">
        <form id="form" method="post" class="form-horizontal form-group-sm">
            <h3>渲染指令<small>(ng-init | ng-repeat | ng-bind | ng-bind-template | ng-include)</small></h3>
            <ul ng-init="users = [{id:101,name:'user_101'},{id:102,name:'user_102'},{id:103,name:'user_103'}]">
                <li ng-repeat="user in users">
                    {{user.name}}&emsp;<span ng-bind="$index"></span>&emsp;{{$first}}&emsp;{{$middle}}&emsp;{{$last}}
                </li>
            </ul>
            <!--
            <p ng-bind-template="{{users}}"></p>
            <div ng-include="'angular.html'"></div>
            -->

            <h3>事件指令<small>(ng-click | ng-dblclick | ng-mouseover ...)</small></h3>
            <p><button ng-click="toggleState($event)">切换状态</button></p>
            <p ng-show="state"><i class="fa fa-spinner fa-spin fa-2x"></i></p>

            <h3>节点指令<small>(ng-style | ng-class | ng-show | ng-hide | ng-switch | ng-src | ng-href | ng-if)</small></h3>
            <ul ng-style="{'font-size': '16px'}" ng-class="'bg-danger'" ng-init="users = [{id:101,name:'user_101'},{id:102,name:'user_102'},{id:103,name:'user_103'}]">
                <li ng-repeat="user in users" ng-class-even="'text-warning'" ng-class-odd="'text-success'">
                    {{user.name}}&emsp;<span ng-bind="$index"></span>&emsp;{{$first}}&emsp;{{$middle}}&emsp;{{$last}}
                </li>
            </ul>
            <p ng-show="state"><i class="fa fa-cog fa-spin fa-2x"></i></p>
            <p ng-hide="state"><i class="fa fa-spinner fa-spin fa-2x"></i></p>
            <p ng-if="state"><img ng-src="{{faviconIco}}"></p>
            <p><a ng-href="{{faviconIco}}">icon</a></p>
        </form>
    </div>
</div>
<script id="template" type="text/ng-template">
    <div><img src="{{faviconIco}}"/></div>
</script>
<script type="text/javascript">
    var myApp = angular.module("myApp", []);
    myApp.controller("myController", ["$scope", function ($scope) {
        $scope.state = true;
        $scope.faviconIco = '../favicon.ico';
        $scope.toggleState = function (event) {
            $scope.state = !$scope.state;
        };
    }]);
</script>
</body>
</html>