<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <link rel="stylesheet" href="../assets/css/app.css">
    <script src="../assets/js/lib/angular/angular.js"></script>
</head>
<!--
ng-app="myApp"
ng-app="ngLocale"
-->
<body ng-app="ngLocale">
<div id="page-wrapper" class="container">
    <div class="page-header">
        <label class="h4">Angular01-ngLocale</label>
    </div>
    <div id="page-content">
        <form id="form" method="post" class="form-horizontal form-group-sm">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-4">
                    <input id="name" name="name" class="form-control" ng-model="name"
                           placeholder="Enter a name here">
                </div>
                <div class="col-sm-6 h4">
                    <span class="text-primary">{{name}}</span>
                    <span ng-bind="name" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>