<!DOCTYPE html>
<html lang="zh-TW" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../assets/css/app.css">
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/lib/angular/angular.js"></script>
    <script src="../assets/js/app/app-services.js"></script>
    <style type="text/css">
        .pagination {
            margin: 0;
        }
    </style>
</head>
<body ng-controller="indexController">
<div class="container">
    <div class="page-header">
        <label class="h4">Angular-DataTable</label>
    </div>
    <div class="bs-content" data-content="查询条件">
        <form id="form" class="form-horizontal form-group-sm" role="form">
            <div class="form-group">
                <label class="control-label col-sm-1" for="uid">用戶编号</label>
                <div class="col-sm-3">
                    <input id="uid" name="uid" type="text" class="form-control" placeholder="用户ID"
                           ng-model="user.uid">
                </div>
                <label class="control-label col-sm-1" for="username">用户名</label>
                <div class="col-sm-3">
                    <input id="username" name="username" type="text" class="form-control" placeholder="用户名"
                           ng-model="user.username">
                </div>
                <div class="col-sm-4">
                    <!-- 一定要指明type属性的值(否则可能向服务端发送两次请求) -->
                    <button id="btnQuery" type="button" class="btn btn-primary btn-sm"
                            ng-click="query()" ng-disabled="undefined || null || ''">
                        <i class="glyphicon glyphicon-search"></i> 查询
                    </button>
                    <button id="btnReset" type="button" class="btn btn-default btn-sm"
                            ng-click="reset()">
                        <i class="glyphicon glyphicon-refresh"></i> 重置
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="bs-content form-inline" data-content="数据列表">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-hover table-condensed" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>用戶编号</th>
                        <th>用户名</th>
                        <th>所属部门</th>
                        <th>出生日期</th>
                        <th>创建时间</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in data">
                        <td>{{$index+1}}</td>
                        <td>{{item['uid']}}</td>
                        <td>{{item['username']}}</td>
                        <td>{{item['dept']}}</td>
                        <td>{{item['birthday']}}</td>
                        <td>{{item['createTime']}}</td>
                        <td>{{item['remark']}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="text-left">
                    <label>
                        <span>每页</span>
                        <select class="form-control input-sm"
                                ng-init="pageSize=10" ng-model="pageSize"
                                ng-options="x for x in [10,20,50]">
                        </select>
                        <span>条，总共&nbsp;{{recordsTotal}}&nbsp;条记录</span>
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-right">
                    <nav>
                        <ul class="pagination">
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
                            </li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var mainApp = angular.module('mainApp', ['baseModule']);
    mainApp.controller('indexController', ['$scope', '$http', 'menuService', function ($scope, $http, menuService) {

        $scope.user = {};

        var queryForPage = function (param, successCallback) {
            $http({
                method: 'POST',
                url: '../data/DataTable.json',
                data: param
            }).then(function (response) {
                $scope.data = response.data.data;
                $scope.recordsTotal = response.recordsTotal;
                $scope.pages = Math.ceil(response.recordsTotal / $scope['pageSize']);
                successCallback && successCallback(response);
            });
        };

        queryForPage();

        $scope.query = function () {
            queryForPage($scope.user, function (response) {
                console.info(response.data);
            });
        };

        var initData = {uid: 1001, username: 'Gavin'};

        $scope.reset = function () {
            $scope.user = angular.copy(initData);
        };

        $scope.reset();

    }]);
</script>
</html>