<!DOCTYPE html>
<html lang="zh-TW" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../assets/css/app.css">
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/lib/angular/angular.js"></script>
    <script src="../assets/js/lib/angular-ui/ui-grid.js"></script>
</head>
<body ng-controller="MainCtrl">
<div class="container">
    <div class="page-header">
        <label class="h4">angular-ui-grid</label>
    </div>
    <form id="form" class="form-horizontal form-group-sm" role="form">
        <fieldset class="bs-content" data-content="数据列表">
            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-group" role="group" style="margin-bottom: 5px;">
                        <button type="button" class="btn btn-sm btn-default" ng-click="add()">
                            <i class="glyphicon glyphicon-plus"></i> 新增
                        </button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="edit()">
                            <i class="glyphicon glyphicon-edit"></i> 更新
                        </button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="delete()">
                            <i class="glyphicon glyphicon-remove"></i> 删除
                        </button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="view()">
                            <i class="glyphicon glyphicon-eye-open"></i> 查看
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-edit></div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-sm btn-primary" ng-click="save()">
                    <i class="glyphicon glyphicon-saved"></i> 保存
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    angular.module('mainApp', ['ui.grid', 'ui.grid.edit', 'ui.grid.selection']).service('data', function () {
        return [
            {id: 1001, name: 'iPad', quantity: 5, price: 500},
            {id: 1002, name: 'iPhone', quantity: 5, price: 1000},
            {id: 1003, name: 'iMac', quantity: 5, price: 2000}
        ];
    }).controller('MainCtrl', function ($scope, $log, data) {

        $scope.gridOptions = {
            enableRowSelection: true,
            multiSelect: false
        };

        $scope.gridOptions.columnDefs = [
            {field: 'id', name: '商品编号', enableCellEdit: false, visible: true},
            {field: 'name', name: '商品名称', enableCellEdit: false},
            {field: 'quantity', name: '购买数量', enableCellEdit: true, type: 'number'},
            {field: 'price', name: '商品单价', enableCellEdit: false},
            {field: 'getTotalPrice()', name: '商品总价', enableCellEdit: false}
        ];

        /**
         * @see <a href="http://ui-grid.info/docs/#/tutorial/106_binding">ui-grid Binding examples</a>
         */
        angular.forEach(data, function (obj) {
            angular.extend(obj, {
                getTotalPrice: function () {
                    return this.quantity * this.price;
                }
            });
        });

        $scope.gridOptions.data = data;

        $scope.add = function () {
            $scope.gridOptions.data.push({
                id: 1003,
                name: 'iMac',
                quantity: 5,
                price: 2000,
                getTotalPrice: function () {
                    return this.quantity * this.price;
                }
            });
        };

        $scope.save = function () {
            var param = [];
            angular.forEach($scope.gridOptions.data, function (obj) {
                param.push(angular.extend({}, obj, {totalPrice: obj.quantity * obj.price}));
            });
            $log.info($scope.gridOptions.data);
            $log.info(param);
        };

    });
</script>
</body>
</html>